<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmbedIO" version="1.13.0" targetFramework="net462" requireReinstallation="true" />
  <package id="Fody" version="2.0.10" targetFramework="net462" developmentDependency="true" />
  <package id="Homeseer" version="1.0.0" targetFramework="net462" />
  <package id="ILRepack" version="2.1.0-beta1" targetFramework="net462" />
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.13" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net462" />
  <package id="NullGuard.Fody" version="1.5.2" targetFramework="net462" developmentDependency="true" />
  <package id="protobuf-net" version="2.2.0" targetFramework="net462" />
  <package id="TagLib.Portable" version="1.0.4" targetFramework="net462" />
  <package id="Unosquare.Swan" version="0.28.1" targetFramework="net471" />
  <package id="Unosquare.Swan.Lite" version="0.28.3" targetFramework="net471" />
</packages>